<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	
	
	<bean id="manageAction" class="action.ManageAction" scope="prototype">

		<property name="userDao"><ref bean="userDao" /></property>
		<property name="bumenDao"><ref bean="bumenDao" /></property>
		<property name="infoDao"><ref bean="infoDao" /></property>
		<property name="wendangDao"><ref bean="wendangDao" /></property>
		<property name="kaoqinDao"><ref bean="kaoqinDao" /></property>
		<property name="gongzuorizhiDao"><ref bean="gongzuorizhiDao" /></property>
		<property name="renwuDao"><ref bean="renwuDao" /></property>
		<property name="youjianDao"><ref bean="youjianDao" /></property>
		<property name="tongxunluDao"><ref bean="tongxunluDao" /></property>
		
	</bean>
	
	
	
	
	
</beans>
